
<h3>We are in this business since 2000</h3>
<p>We are a dynamic, innovative company that will compete in global markets and strive for excellence in every aspect of our business.
  The foundation for our commitment will be to: provide our customers with timely delivery of quality products and services at competitive
  values; create and maintain a positive environment for our customers and employees; and to reward our employees and stockholders for the
  company's performance. To achieve this mission, we will endeavor to: timely design, engineer, manufacture and/or market world class products
  with satisfactory financial potential in which we are or can be an industry leader; encourage proactive change, create major innovation, and
  accept risk and failure as building components for ultimate success; and commit the necessary financial and qualified human resources to support
  the strategic and tactical growth plans of the company(Trek-Bicycle-Corporation.html).
