<h1>SimplePages#index</h1>
<p>Find me in app/views/simple_pages/index.html.erb</p>
<%= image_tag 'https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=51a9aa4dd828bf5d50fcd8154dc405b8&auto=format&fit=crop&w=2100&q=80', style:"height:400px;"%>
