<div class="row">
  <div class="col-sm-4">
  <% @orders.each do |order| %>

      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </h1>
      <p><%= order.product.description %></p>
      <%= order.product.price %>

  <% end %>
  </div><!-- /col -->
</div>
