// Place all the styles related to the simple_pages controller here.
h1{
  background-color: black;
  color: white;
}
body{
  margin: 20px;
  border: dotted black;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
