// Place all the styles related to the simple_pages controller here.

h1{
  background-color: white;
  color: black;
}
body{
  width: auto;
  margin: 20px;
  border: 2px;
}
.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
}
.row{
  font-weight: 300;
}
#frm{font-size: 17px;
  width: 100%;
    padding: 12px ;
text-decoration: underline;
    box-sizing: border-box;

}
.text{

  border-radius: 5px;
border-width: 2px;
}
.box{
border-radius: 5px;
}
a:hover {

       color: #ff0;
       text-decoration: none;

     }
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
